<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find orbita3d_description)/ros2_control/orbita3d_actuator_control.ros2_control.xacro"/>
  <xacro:include filename="$(find orbita3d_description)/ros2_control/orbita3d_axis_control.ros2_control.xacro"/>
  <xacro:include filename="$(find orbita3d_description)/ros2_control/orbita3d_raw_motor_control.ros2_control.xacro"/>

  <xacro:macro name="orbita3d_control" params="name config_file">

    <ros2_control name="${name}" type="system">
      <hardware>
        <!-- Use real hardware. -->
        <xacro:unless value="$(arg use_fake_hardware)">
          <plugin>orbita3d_system_hwi/Orbita3dSystem</plugin>
          <param name="config_file">${config_file}</param>
        </xacro:unless>

        <xacro:if value="$(arg use_fake_hardware)">
          <!-- Use gazebo as hardware simulation. -->
          <xacro:if value="$(arg use_gazebo)">
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
          </xacro:if>

          <!-- Use fake components. -->
          <xacro:unless value="$(arg use_gazebo)">
	    <!-- Standard ROS fake system -->
            <!-- <plugin>fake_components/GenericSystem</plugin> -->

	    <!-- Pollen controller fake system -->
	    <plugin>orbita3d_system_hwi/Orbita3dSystem</plugin>
	    <param name="config_file">${config_file}</param>
          </xacro:unless>
        </xacro:if>
      </hardware>

      <xacro:orbita3d_actuator_control name="${name}"/>

      <xacro:orbita3d_axis_control name="${name}_roll"/>
      <xacro:orbita3d_axis_control name="${name}_pitch"/>
      <xacro:orbita3d_axis_control name="${name}_yaw"/>

      <xacro:orbita3d_raw_motor_control name="${name}_raw_motor_1"/>
      <xacro:orbita3d_raw_motor_control name="${name}_raw_motor_2"/>
      <xacro:orbita3d_raw_motor_control name="${name}_raw_motor_3"/>

    </ros2_control>
  </xacro:macro>
</robot>
